# Project name for Docker Compose
PROJECT_NAME=sb

# Application settings
APP_PORT=80

# Database settings
DB_PORT=3300
DB_ROOT_PASSWORD=secret
DB_NAME=db
DB_USER=user
DB_PASSWORD=secret

# Apache settings
APACHE_DOCUMENT_ROOT=/var/www/html
