[mariadb]
innodb_strict_mode = OFF
sql_mode = ""
default-time-zone = 'Europe/Moscow'

[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

[client]
default-character-set = utf8mb4